a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    margin: 0;
    padding: 0
}

h1,h2,h3,h4,h5,h6 {font-weight: normal;}

dl,dd,dt{
    list-style:none;
    margin: 0;
    padding: 0;
}

s {
    text-decoration: none;
}

i {
    font-style: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

button, html input[type=button], input[type=submit] {
    -webkit-apperance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

ol, ul {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

em, i, u {
    font-style: normal
}

.left {
    float: left
}

.right {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}

.clear, .clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *zoom: 1
}

.w {
    width: 1210px;
    margin: 0 auto;
}

.flow{
    overflow: hidden;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
    background: #fff;
}

a {
    color: #666;
    text-decoration: none
}

a:hover {
    color: #C81623
}

input,button{
    border: none;
    outline:none;
}

