	*,body,div,ul {
		margin: 0;
		padding: 0;
	}
	img,input{
		border: none;
	}
	li{
		list-style: none;
	}
	body{
		font-size: 12px;
		color: #000000;
	}
	.qingchu:after {
		content: "";
		height: 0;
		line-height: 0;
		display: block;
		visibility: hidden;
		clear: both;
	}
	.qingchu {
		zoom: 1;
	}
	a {
		text-decoration: none;
	}
	a:hover{
		color: red;
	}
	.fl{
		float: left;
	}
	.fr{
		float: right;
	}
	.banxin{
		width: 1240px;
		margin: 0 auto;
	}
	.daoh{
		height: 100px;
		background: url(../img/daoh.jpg);
	}
	.daoh ul{
		width: 515px;
	}
	.daoh ul li{
		display: inline-block;
		line-height: 100px;
		font-size: 16px;
		margin-left: 25px;
	}
	.daoh a{
		color: #FFFFFF;
	}
	.daoh2{
		height: 38px;
		background: #E6E7E9;
	}
	.daoh2 p{
		width: 1238px;
		font-size: 16px;
		line-height: 38px;
		color: #957A87;
		margin-left: 80px;
	}
	.neir{
		width: 1240px;
	}
	.neir .js li{
		display: inline-block;
		margin:8px 14px 0 0 ;
	}
	.neir .js li span{
		font-weight: 900;
		color: blue;
		line-height: 23px;
	}
	.neir .js ul{
		height: 68px;
		width: 273px;
		border-top:1px solid #F2F2F2;
	}
	.gg{
		width: 965px;
		height: 564px;
	}
	.gg .tu{
		height: 413px;
		width: 966px;
	}
	.gg .sp{
		height: 150px;
		border: 1px solid #F2F2F2;
	}
	.gg .sp .sp1{
		height: 150px;
		width: 319px;
		background: url(../img/sp1.png);
		border: 1px solid #F2F2F2;
	}
	.gg .sp .sp2{
		height: 150px;
		width: 319px;
		background: url(../img/sp2.png);
		border: 1px solid #F2F2F2;

	}
	.gg .sp .sp3{
		height: 150px;
		width: 316px;
		background: url(../img/sp3.png);
		border: 1px solid #F2F2F2;
	}
	.jmpj{
		font-size: 16px;
		height: 93px;
		font-weight: 600;
	}
	.jmpj p{
		margin: 54px 8px 0 0;
	}
	.spxq{
		height: 940px;
		width: 1240px;
	}
	.spxqz{
		width: 922px;
	}
	.spxq .qqq{
		height: 310px;
		width: 306px;
		line-height: 5px;
		border: 1px solid #F2F2F2;
	}
	.dazi{
		font-size: 31px;
	}
	.yd360{
		margin: 63px 0 0 35px;
	}
	.qqq1{
		height: 310px;
		width: 306px;
		border: 1px solid #F2F2F2;

	}
	.qqq2{
		height: 310px;
		width: 306px;
		border: 1px solid #F2F2F2;
	}
	.j399{
		color: #848484;
	}
	.spxq .qqq2 {
		text-align: center;
	}
	.spxq .qqq2 .tq2{
		line-height: 28px;
	}
	.bs{
		border-top: 0;
	}
	.bz{
		border-left: 0;
	}
	.by{
		border-right: 0;
	}
	.spxqy{
		width: 315px;
		height: 934px;
		border:1px solid #F2F2F2;
	}
	.kuan{
		width: 880px;
	}
	.spxq .spxqz .spxqz1{
		width: 924px;
		height: 312px;
	}
	.spxqy>div{
		height: 102px;
		width: 314px;
		border-bottom:1px dashed #f2f2f2;
	}
	.spxqy>div>img{
		height: 103px;
		width: 115px;
	}
	.ph1{
		background-color: #FAFAFA;
		line-height: 105px;
		text-align: center;
	}
	.ph1 span{
		font-size: 37px;
	}
	.yiers{
		font-size: 36px;
		color: red;
		line-height: 100px;
	}
	.ziti25{
		font-size: 25px;
	}
	.spxqy>.ph2>div{
		display: inline-block;
		line-height: 20px;
	}
	.spxqy .hp3{
		width: 170px;
		line-height: 23px;
		margin: 30px 0 0 5px;
	}
	.yuan{
		color: #9E9E9E;
	}
	.zi99{
		font-size: 22px;
	}
	.tjsp{
		height: 70px;
		font-size: 20px;
		line-height: 70px;
	}
	.sigg{
		height: 340px;
		border:1px solid #F2F2F2;
	}
	.sigg .sigg1{
		width: 308px;
		height: 339px;
	}
	.sigg>.sigg1>img{
		height: 238px;
		width: 305px;
	}
	.sigg .sigg1 .sigg2{
		padding: 43px 0 0 25px;
		line-height: 23px;
	}
	.j999{
		color: #848484;
	}
	.bdr{
		border-right: 1px solid #f2f2f2;
	}
	.kwsl{
		height: 50px;
	}
	.dlbjs{
		height: 555px;
		background: #F7F6F6;
	}
	.dlbjs .dbh1{
		height: 190px;
	}
	.dlbjs .dbh1 .bjjlt{
		height: 35px;
		width: 34px;
		background: url(../img/j.png) no-repeat -8px -56px;
	}

